@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
:root{
    /* Color Scheme  */
    --dark-main-color: #1C1D26;
    --dark-secondary-color: #0F2027;
    --details-color: crimson;
    --dark-background-color:radial-gradient(#0F2027 , #203A43);
    --white-background-color:radial-gradient(#F4F3F7 , #b5b5b8);
    --white-main-color: #F4F3F7;
    --white-secondary-color: #c8c8ca;

}
::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 2px;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-track{
    background: var(--white-background-color)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; 
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--dark-main-color);
    background:var(--dark-main-color);
    transition: all 0.5s ease-in-out;
    gap: 80px;
    font-family: 'JetBrains Mono',sans-serif;
}
.light_body{
    background: var(--white-main-color);
    color: var(--dark-main-color);
}
header{
    display: flex; 
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 0px 150px;
    background-color: var(--white-main-color);
    align-items: center;
    box-shadow: 0px 5px 30px var(--details-color);
    border-bottom: 1px solid var(--details-color);
    transition: all 0.4s linear;
}
.light_header{
    background-color: var(--dark-main-color);
    color: var(--white-main-color);
}

h1{
    font-family: 'JetBrains Mono';
    font-weight: 800;
    text-decoration:underline var(--details-color);
    animation: reload 0.3s linear forwards;
}
li{
    display: flex;
    animation: reload 0.4s linear forwards;
    color: var(--white-main-color);    
}
ol{
    margin: 0;
    padding: 10px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: var(--dark-main-color);
}
.nav-right:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    border-radius: 8px;
    background-color: currentColor;    
}
.light_nav-right{
    color: var(--white-main-color);
}
.toggle-btn{
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-main-color);
    border-radius: 8px;
    animation: reload 0.4s linear forwards;
}
.light_toggle-btn{
    border: 1px solid var(--white-main-color);
}
.fa-sun,
.fa-moon
{
    font-size: 35px;
    transition: 0.5s color;
    cursor: pointer;
}
.fa-sun:hover,
.fa-moon:hover
{
    color: var(--details-color);   
}
.a{
    color: var(--dark-secondary-color);
    text-decoration: none;
    transition: 0.7s color;
}
.a:hover{
    color: var(--details-color);
}
.a_light{
    color: var(--white-main-color);
    text-decoration: none;
    transition: 0.7s color;
}
.content{
    display: flex;
    align-items: center;
    width: 65vw;
    margin-top: 80px;
    gap: 80px;
    color: var(--white-main-color);
}
.light_content{
    color: #000;
}
.fa-user{
    font-size: 250px;
    animation: reload 0.35s linear forwards;
}
.content-rigth{
    display: flex;
    flex-direction: column;
    animation: reload 0.35s linear forwards;        
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--details-color);
    margin: 30px 0px;
    padding: 7px;
    width: 110px;
    height: 30px;
    border-radius: 8px;
    animation: reload 0.35s linear forwards;
    cursor:default;
}
h3{
    font-size: 22px;
}
.text{
    font-size: 16px;
    padding: 8px;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--white-main-color);
    cursor: default;
}
.projects-content{
    width: 65vw;
    display: flex;
    justify-content: space-between;
}
.cards{
    background-color: var(--dark-main-color);
    opacity: 0.8;
    color: #fff;
    border: 1px solid var(--white-main-color);
    border-radius: 8px;
    width: 31%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 16px #000;
    transition: 0.5s;
}
.cards:hover{
    cursor: pointer;
    width: 35%;
}
.img{
    background-image:url('../code.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;;
    width: 95%;
    height: 40%;
    margin: 5px;
    border-radius: 8px;
}
.card-title{
    display:flex;
    color: var(--white-main-color);
    width: 95%;
    height: max-content;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.card-title::before{
    content: "";
    background-color: var(--white-main-color);
    width: 90%;
    height: 1px;
    margin: 5px auto;
    border-radius: 1px;
    display: block;
}   
.contact{
    display: flex; 
    justify-content: space-between;
    width: 65vw;
    gap: 1rem;
    align-items: center;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.fa-github , .fa-whatsapp, .fa-linkedin, .fa-envelope{
    display: flex;
    font-size: 3em;
    color: var(--white-main-color);
    align-items: center;
    gap: 1rem;
    
}
.contact-a, .contact-p{
    font-size: 16px;
    font-family: "JetBrains Mono";
    color: var(--white-main-color);
    text-decoration: none;
}
.curiosity{
    border: 1px solid var(--white-main-color);
    border-radius: 8px;
    padding: 1.8rem 0.5rem;
}
.curiosity-text{
    text-align: center;
    font-size: 1.1rem;
    color: var(--white-main-color);
}
.curiosity:before{
    content: "Curiosidades";
    position: relative;
    padding: 0.5rem;
    background-color: var(--dark-main-color);
    font-size: 1.4rem;
    color: var(--white-main-color);
    top: -2.7rem;
    left: 1rem;
}
@keyframes reload {
    from{
        opacity: 0;
        transform: translateY(-25px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}